$white: #FFFFFF;
$black: #000000;
$green:#08FF00;
$red: #FF0000;
$grey: #707070;
$darkgrey:#2E2E2E;


* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: inherit;
}

::-webkit-scrollbar-thumb {
    background: $grey;
}

::-webkit-scrollbar-thumb:hover {
    background: $white;
}

body {
    display: grid;
    grid-template-rows: 1fr auto auto;
    height: 100vh;
    background-image: url("../img/room_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    // Alternativ baggrund
    background-color: $black;
}

.btn {
    background-color: $grey;
    border: 1px solid $black;
    padding: 10px 20px;
    margin: 5px 15px;
    font-size: 15px;
    text-decoration: none;
    color: $white;
    position: absolute;
    right: 0%;
    
}

.btn:hover {
    background-color: $red;
    border: 1px solid $white;
}

.logo {
    max-width: 250px;
    margin: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

main {
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 30px;
}

main > p {
    padding: 20px 30px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

.hints {
    color: $red;
}

.inputField {
    background-color: $green;
    font-size: 25px;
    padding: 20px 30px;
    margin: 0 20px 20px;
    border: 1px solid $black;
}

.blink {
    opacity: 0;
}

footer {
    background-color: $darkgrey;
    font-size: 15px;
    font-style: italic;
    color: $white;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
}

